@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700&display=swap");
@import "./variables.scss";
:root {
  --blue-col: #0cb1c7;
  --yellow-col: #ffc400;
  --white: #fff;
  --head-gra: linear-gradient(to right, #136a8a, #267871);
  --dark-col: #0e3658;
  --dark-blue: #165081;
  --sec-gra: linear-gradient(to right, #ece9e6, #ffffff);
}
::selection {
  background-color: var(--blue-col);
}
.swiper {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  margin-bottom: 100px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: var(--white);
  }
}
.wi:nth-child(2) {
  @include mobile {
    margin-bottom: 100px;
  }
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 15px;
  background-color: var(--blue-col);
  // border-radius:50px ;
}
::-webkit-scrollbar-track {
  // border-radius:50px ;
  background-color: #eee;
}
::-webkit-scrollbar-thumb {
  // border-radius:50px ;
  background-color: var(--blue-col);
  // background-color: #222;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  @include mobile {
    background-size: cover;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  transition: 0.3s;
}
a {
  text-decoration: none;
}
// start header
.container {
  width: 1000px;
  margin: 0 auto;
  @include mobile {
    width: 300px !important;
  }
}

.header.scroll {
  background: var(--head-gra);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  transition: 0.7s;
  .container {
    border: none;
    transition: 0.3s;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  // background: var(--head-gra);
  z-index: 999;
  display: flex;
  align-items: center;
  // box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  @include mobile {
    width: 100% !important;
  }
  .container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--white);
    .ic {
      display: none;
    }
    @include mobile {
      .ic {
        display: block;
        i {
          color: white;
          cursor: pointer;
        }
      }
    }

    .header-title {
      h3 {
        font-weight: 700;
        color: var(--white);
        a {
          color: var(--white);
        }
      }
    }

    .nav {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      // overflow: scroll;
      .mob-ul {
        display: none;
      }
      @include mobile {
        position: absolute;
        flex-direction: column;
        top: calc(100% - 14px);
        background: var(--blue-col);
        width: 100%;
        padding: 15px;
        z-index: 100;
        backdrop-filter: blur(10px);
        left: 0;
        transform: scaleX(0);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.6) inset;
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        gap: 5px;
        &.ul-active {
          transform: scaleX(1);
        }
        li {
          width: 100%;
          border-radius: 7px;
          margin-bottom: 10px;
          // height: 100px;
          padding: 10px;
          text-align: center;
          background-color: var(--dark-blue);
          text-align: center;
          &:hover{
            background-color: var(--dark-col);
          }
          &.mob-ul {
            display: block;
            a{
              height: 100%;
            }
          }
          a {
            width: 100%;
            height: 100%;
            text-align: center;
          }
          &:hover {
            background-color: var(--dark-blue);
          }
        }
      }
      .other {
        cursor: pointer;
        @include mobile {
          display: none;
        }
        ul {
          position: absolute;
          list-style: none;
          background: var(--blue-col);
          text-align: center;
          padding: 10px ;
          top: 40px;
          border-radius: 2px;
          width: 200px;
          // display: none;
          transform: scale(0);
          transition: 0.3s;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
            rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          @include mobile {
            background: none;
          }
          &.u-a {
            transform: scale(1);
          }
          li {
            width: 100%;
            background-color: var(--dark-blue);
            margin-bottom: 5px;
            padding: 10px;
            transition: 0.3s;
            &:hover{
              background-color: var(--dark-col);
            }
            &::before {
              display: none;
            }
          }
        }
        &:hover {
          ul {
            transform: scale(1);
            transition: 0.3s;
          }
        }
      }
      li {
        height: 100%;
        position: relative;
        transition: 0.3s;

        &::before {
          content: "";
          position: absolute;
          height: 6px;
          width: 100%;
          background-color: var(--blue-col);
          top: calc(100% + 15px);
          transform: scaleX(0);
          transition: 0.3s;
          @include mobile {
            display: none;
          }
        }
        &:hover::before {
          transform: scaleX(1);
        }
        &.active::before {
          transform: scaleX(1);
        }
      }
      li a {
        display: inline-block;
        margin: 0 10px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
// end header
// start landing page
.landing {
  //  background-image: linear-gradient(rgba(0, 0, 0, 0.5)) , url(../images/back.jpg);
  //  background-size: cover;

  padding: 20px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  .land-title {
    font-size: 36px;
    font-weight: bold;
    @include mobile {
      font-size: 25px;
    }

    h1 {
      color: var(--white);
      line-height: 1.3;
      text-align: center;
    }
  }
}
// end landing page
.sec-heading {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: fit-content;
  display: inline-block;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px;
  margin-top: 50px;
  // height: 30px;
  &::after {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--blue-col);
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    z-index: -1;
  }
  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--blue-col);
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
  }
  &:hover::after {
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 7px;
  }
  &:hover::before {
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 7px;
  }
  &:hover {
    color: var(--white);
  }
  h1 {
    padding: 5px 10px;
    border-radius: 7px;
    border: 2px solid var(--blue-col);
    text-align: center;
    margin: 0;
  }
}
// start goals

.goals {
  background: linear-gradient(to right, #ece9e6, #ffffff);
  .container {
    margin-top: 50px;
    @include mobile {
      width: 300px;
    }
    .goals-boxes {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 200px;
      // grid-template-areas: ar sr;
      column-gap: 50px;
      row-gap: 20px;
      align-content: center;
      justify-content: center;
      direction: rtl;
      position: relative;
      overflow-x: hidden;
      @include mobile {
        grid-template-columns: 300px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 3px;
        background-color: var(--blue-col);
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 7px;
      }
      .box {
        padding: 15px;
        text-align: right;
        background: linear-gradient(to right, #06beb6, #48b1bf);
        border-radius: 7px;
        min-height: 198px;
        max-height: 200px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) inset,
          0 0 6px rgba(0, 0, 0, 0.4);
        position: relative;
        h4 {
          margin: 0;
          font-size: 22px;
          color: var(--white);
        }
        p {
          font-size: 18px;
          color: var(--white);
          display: inline-block;
          font-weight: 700;
          @include mobile {
            font-size: 14px;
          }
        }
      }
      .box:nth-child(even) {
        &::before {
          content: "";
          position: absolute;
          top: 80%;
          right: -25px;
          width: 25px;
          height: 3px;
          background-color: var(--blue-col);
          @include mobile {
            display: none;
          }
        }
      }
      .box:nth-child(odd) {
        &::before {
          content: "";
          position: absolute;
          top: 20%;
          left: -25px;
          width: 25px;
          height: 3px;
          background-color: var(--blue-col);
          @include mobile {
            display: none;
          }
        }
      }
      .box:nth-child(1)::after {
        content: "1";
        position: absolute;
        top: calc(100% - 45px);
        left: 20px;
        color: var(--blue-col);
        border-radius: 50%;
        background-color: var(--yellow-col);
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
      }
      .box:nth-child(2)::after {
        content: "2";
        position: absolute;
        top: calc(100% - 45px);
        left: 20px;
        color: var(--blue-col);
        border-radius: 50%;
        background-color: var(--yellow-col);
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
      }
      .box:nth-child(3)::after {
        content: "3";
        position: absolute;
        top: calc(100% - 45px);
        left: 20px;
        color: var(--blue-col);
        border-radius: 50%;
        background-color: var(--yellow-col);
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
      }
      .box:nth-child(4)::after {
        content: "4";
        position: absolute;
        top: calc(100% - 45px);
        left: 20px;
        color: var(--blue-col);
        border-radius: 50%;
        background-color: var(--yellow-col);
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
      }
      .box:nth-child(5)::after {
        content: "5";
        position: absolute;
        top: calc(100% - 45px);
        left: 20px;
        color: var(--blue-col);
        border-radius: 50%;
        background-color: var(--yellow-col);
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
      }
      .box:nth-child(6)::after {
        content: "6";
        position: absolute;
        top: calc(100% - 45px);
        left: 20px;
        color: var(--blue-col);
        border-radius: 50%;
        background-color: var(--yellow-col);
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
      }
      .box:last-child {
        margin-bottom: 50px;
      }
    }
  }
}
// end goals
// slug
.slug {
  font-size: 36px;
  font-weight: bold;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    font-size: 25px;
  }
  h1 {
    color: var(--white);
    line-height: 1.3;
    text-align: center;
    margin: 0;
  }
}

// slug
// start events
.events {
  background: var(--sec-gra);
  // height: 80vh;
  .container {
    @include mobile {
      width: 300px;
    }
    .even-boxes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-content: center;
      text-align: right;
      gap: 20px;
      @include mobile {
        grid-template-columns: repeat(1, 300px);
      }
      .box {
        background: var(--head-gra);
        color: var(--white);
        border-radius: 7px;
        padding: 10px 20px;
        position: relative;
        // transform: skewX(10deg) ;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) inset,
          0 0 6px rgba(0, 0, 0, 0.4);
        @include mobile {
          transform: skew(0);
        }
        p {
          color: var(--white);
          font-size: 22px;
        }
      }
    }
  }
}
// end events
// start info

.info {
  background: var(--sec-gra);
  .container {
    padding-bottom: 20px;
    .content-cont {
      // width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      direction: rtl;
      gap: 20px;
    }
    .cont {
      border-radius: 20px;
      background: var(--blue-col);
      padding: 15px;
      background: var(--white);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      &:last-child{
        grid-column: 1 /3;
        grid-row: 3/2;
        @include mobile{
          grid-column: auto;
          grid-row: auto;

        }
      }
      &:hover{
        transform: translateY(-10px);
        transition: 0.5s;
      }
      h3 {
        color: var(--dark-blue);
        font-size: 18px;
        text-align: right;
        // display: inline-block;
        width: 100%;
      }
      ul {
        direction: rtl;
        // list-style:circle;
        li {
          font-size: 18px;
          list-style-image: url(../images/check-solid.svg);
          font-weight: 400;
          &::marker {
            color: var(--blue-col);
            fill: var(--blue-col);
            font-size: 24px;
          }
          h4 {
            display: inline;
            color: var(--blue-col);
          }
        }
      }
      p {
        font-size: 18px;
        font-weight: 400;
        // max-width: 500px;
        text-align: right;
      }
    }
  }
}

//end info
.ev {
  background: var(--sec-gra);
  height: 250vh;
  @include mobile {
    height: 340vh;
  }
  .container {
    .ev-head {
      color: var(--dark-blue);
      text-align: center;
    }
  }
}
// start footer
.footer {
  width: 100%;
  background-color: #222;
  // color: var(--dark-blue);
  height: 100px;
  position: relative;
  bottom: 0;
  left: 0;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .fo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      h2 {
        margin: 0;
        text-align: center;
        color: var(--white);
        @include mobile {
          font-size: 16px;
        }
      }
    }
  }
}
// end footer
